.nav-logo{
    height: 60px;
    width: 150px;
}
.button{
    text-decoration: none;
    padding: 8px 15px;
    background-image: linear-gradient(45deg, rgb(7, 136, 71), rgb(8, 173, 63));
    border-radius: 15px;
   color: white;
    
}
.top{
    background-color: rgb(238, 247, 238) ;
}
.buttom{
    background-color: white;
}